<body>
  <div class="main">
    <div class="lado_esquerdo">
      <div class="title">
        <p>Zen<span>Hosty</span></p>
      </div>
      <div class="caixa_esquerda">
        <div class="check_roon">
          <a class="check_a" href="./checkouts">
            <div class="checkouts">
              <img src="./images/checkout.png" alt="" />
              <p>Reservas</p>
            </div>
          </a>
          <div class="MapRoon">
            <img src="./images/map.png" alt="" />
            <p>Mapa Quartos</p>
          </div>
        </div>
        <div class="perfil">
          <img src="./images/Layer_1.png" alt="" />
          <p>{{userFindid.username}}</p>
          <form action="/user/singout" method="POST">
            <input id="singout" type="submit" value=""/>
          </form>
        </div>
      </div>
    </div>
    <div class="lado_direito">
      <div class="caixa_quartos">
        <div id="caixa_quartos">
          {{#each rooms}}
            <form
              action="/hotel/reservepage/{{this.dataValues.id}}"
              method="GET"
            >
              <button class="quarto" type="submit" s>
                <p>Número: {{this.dataValues.number}}</p>
                <p>Andar: {{this.dataValues.floor}}°</p>
                <p>Preço por noite: R${{this.dataValues.price}}</p>
                <p class="estado">Estado:
                  {{#if this.dataValues.busy}}
                    <span class="ocupado">Ocupado</span>
                  {{else}}
                    <span class="desocupado">Desocupado</span>
                  {{/if}}
                </p>
              </button>
            </form>
          {{/each}}
          <div class="botao_add" id="modal_open">
            <button>+</button>
          </div>

        </div>
      </div>
    </div>
  </div>
  <section class="modal_bg" id="modal_bg" style="display: none;">
    <section class="modal_container" id="modal_container">
      <h2>Adicionar novo quarto</h2>
      <form class="form" action="/hotel/rooms" method="POST">
        <p>Número:</p>
        <input name="number" class="formulario" type="text" />
        <p>Andar do Quarto:</p>
        <input name="floor" class="formulario" type="number" />
        <p>Preço por noite:</p>
        <input name="price" class="formulario" type="number" />
        <div class="butoes">
          <button type="button" class="cancelar" id="cancelar">Cancelar</button>
          <input class="criar" type="submit" value="Criar" />
        </div>
      </form>
    </section>
  </section>

</body>